# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=your_supabase_url_here
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# Cloudflare Configuration
EXPO_PUBLIC_CLOUDFLARE_CUSTOMER_CODE=your_customer_code
EXPO_PUBLIC_CLOUDFLARE_TOKEN=your_api_token
